*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
sftp-config.json
.DS_Store
*/config/database.php
*/config/config.php
images/avatars/[0-9].png
images/avatars/[0-9]_headshot.png