#crysandrea_homepage {
	background:#eee url(images/bg/homepage_bg.jpg)repeat-x left top;
}
#crysandrea_homepage body {
	background:transparent url(images/bg/homepage_image.jpg)no-repeat center top;
	min-height:700px;
}
#logo { margin:10px 0 0 30px; float:left; }
#logo a {
	background:url(images/elements/homepage_logo.png)left top;
	width:140px;
	height:31px;
}
#home_header {
	overflow:hidden;
	height:76px;
}
#home_epicenter {
	color:white;
	text-align:center;
	overflow:hidden;
	height:532px;
	position:relative;
}
#home_epicenter h1 {
	text-indent:-9999px;
	margin:40px 0 0 0;
	height:60px;
}
#home_epicenter h3 {
	font-weight:normal;
	margin:8px 60px 5px;
	font-size:17px;
	color:#d6dfc7;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .3);
	line-height:1.5;
}
#home_epicenter h4 {
	font-weight:normal;
	margin:8px 0 0;
	font-size:14px;
	color:#b2c593;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .3);
	line-height:1.5;
	background:url(images/elements/sketch_underline.png)no-repeat 135px 3px;
	padding:10px 0 6px;
}
#avatar_abbr {
	border-bottom:1px dotted;
	cursor:default;
}
#avatar_explination {
	width:132px;
	height:164px;
	background:url(images/elements/avatar_abbr_explination.png);
	position:absolute;
	top:160px;
	left:740px;
	display:none;
}
#signup {
	text-indent:-9999px;
	display:block;
	margin:30px 385px 20px;
	height:69px;
	width:204px;
	background:url(images/elements/join_button.png)no-repeat left top;

	&:hover { background-position:left center; }
	&:active { background-position:left bottom; }
}
#homepage_signin {
	opacity:0.6;
	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-ms-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	transition: opacity 300ms ease;
	float:right;
	margin-top:13px;
	margin-right:20px;
	color:#c5d1b1;
	font-size:11px;
	&:hover { opacity:1; }
	label {
		font-size:11px;
		display:inline;
		padding-right:47px;
	}
	a {
		color:#c5d1b1;
		font-size:11px;
	}
	input.signin_data {
		width:140px;
		background:#375c15;
		color:#b5c0aa;
		border:1px solid #152700;
		padding:4px 9px;
		font-size:13px;
		border-radius:0;
		-webkit-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.17);
		box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.17);

		&:focus {
			border-color:#3d8e10;
			color:white;
		}

	}
	input::-webkit-input-placeholder { color:#9eac84; }
	input:-moz-placeholder { color: #9eac84; }
	input:-ms-input-placeholder { color: #9eac84; }
}

#home_footer {
	margin:10px 0;
	font-size:12px;
	color:#888;
}